extends layout

block content
    .container2
        h2= `Do you really want to delete "${book.title}"?`
        h3.deletionWarning= "Deletion cannot be undone!"
  
        form(method= "post")
            input#deleteBtn(type="submit" value="Delete") 
             
        p.cancelBtnDiv
                    a.button(href="/books" immediate="true" class="cancelBtn") Cancel  
    


